@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

body ,html {
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    background-color: rgb(255, 255, 255);
    height: 100%;
    font-weight: 700;
}

a {
    text-decoration: none;
  }

.container {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.container-navbar {
    width: 100%;
}

.login-regis-form {
    height: auto !important;
    width: 430px;
    padding: 0 35px;
    color: #fff;
    background-color: #16174F;
    border: none;
    border-radius: 20px;
}

input[type="text"],
input[type="password"] {
    border: 2px solid rgb(224, 224, 224);
}

.btn-login {
    height: 35px;
    font-weight: 700;
}

.btn-logout {
    background-color: #16174F;
}

.btn-logout:hover {
    background-color: #06099b;
}

header {
    height: 100px;
    width: 100%;
    background-color: #16174F;
    color: #fff;
}

.navbar {
    height: 40px;
    width: 100%;
    background-color: #C2D4D8;
}

.navbar-kiri {
    float: left;
}

.navbar-kiri a {
    text-align: center;
    width: 130px;
    margin-top: -6px;
    color: #000000;
    display: block;
    line-height: 40px;
    float: left;
}

.navbar-kiri a:hover {
    color: #ffffff;
    background-color: #16174F;
}

.navbar-kanan {
    float: right;
    padding-right: 20px;
}

@media all and (max-width: 500px) {
    .navbar {
        height: 120px;
    }

    .navbar-kiri a {
        float: none;
    }
}

.main-home {
    height: 70%;
    text-align: center;
}

.container-nama {
    color: #16174F;
    font-size: 30px;
    font-weight: 700;
    margin-top: 20px;
}

footer {
    background-color: #16174F;
    color: #fff;
    height: 50px;
}

.inventaris {
    height: auto;
}

.bg-biru{
    background-color: #16174F;
    color: #fff;
}